boto3==1.9.145
botocore==1.12.145
certifi==2019.3.9
chardet==3.0.4
cssselect==1.0.3
docopt==0.6.2
docutils==0.14
html5-parser==0.4.5
idna==2.8
jmespath==0.9.4
lxml==4.6.2
mut==0.6.2.dev0
python-dateutil==2.8.0
PyYAML==5.1
requests==2.21.0
rstcloth==0.2.6
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.3
