alabaster==0.7.11
argh==0.26.2
Babel==2.6.0
boto==2.49.0
boto3==1.7.69
botocore==1.10.69
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssselect==1.0.3
defusedxml==0.5.0
docopt==0.6.2
docutils==0.14
dominate==2.3.1
fett==0.3.2
giza==0.5.17
hieroglyph==1.0.0
html5-parser==0.4.5
idna==2.7
imagesize==1.0.0
Jinja2==2.10
jira==2.0.0
jmespath==0.9.3
lxml==4.2.3
MarkupSafe==1.0
oauthlib==2.1.0
onetimepass==1.0.1
pbr==4.2.0
polib==1.1.0
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rstcloth==0.2.6
s3transfer==0.1.13
setuptools==40.0.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-intl==0.9.11
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.1.0
urllib3==1.23
Wand==0.4.4
