appdirs==1.4.4
attrs==23.2.0
awscli==2.17.6
awscrt==0.20.12
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.7
cssselect==1.1.0
dbus-python==1.3.2
distro==1.9.0
dnf==4.21.0
docutils==0.20.1
fb-re2==1.0.7
fido2==1.1.2
git-filter-repo==2.38.0
html5lib==1.1
idna==3.7
inkex==1.3.1
jaraco.classes==3.3.0
jeepney==0.8.0
jmespath==1.0.1
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
keyring==24.3.1
libcomps==0.1.20
libdnf==0.73.2
lockfile==0.12.2
lxml==5.1.0
mercurial==6.7.3
more-itertools==10.1.0
numpy==1.26.4
olefile==0.47
packaging==23.2
pillow==10.3.0
ply==3.11
prompt-toolkit==3.0.41
pycparser==2.20
Pygments==2.17.2
PyGObject==3.48.2
pyparsing==3.1.2
pyscard==2.0.5
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
referencing==0.31.1
rpds-py==0.18.1
rpm==4.19.1.1
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.7
scour==0.38.2
SecretStorage==3.3.3
shtab==1.6.1
six==1.16.0
systemd-python==235
urllib3==1.26.19
wcwidth==0.2.13
webencodings==0.5.1
yubikey-manager==5.5.0
